
<!-- this will act as a base template for all other templates -->

<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Create your blog</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<body>

{% block content %}
{% endblock %}

</body>
</html>
