
<!-- To display details of a post and the author of the post can edit
       and all users have option to go back to home page or logout. -->

{% extends 'base.html' %}

{% block content %}

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
		<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
   			<a href="{% url 'home' %}" class="btn btn-primary" />Home</a>
      <!-- checking if the suthor of the post is same as logged in user, if it is
 			then display edit option to edit -->
			{% if user == post.user.username %}
				<a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-primary"  />Edit Post</a>
			{% endif %}
			<a href="{% url 'signin' %}" class="btn btn-primary" />Logout</a>
			</li>
		</ul>
</nav>

<div class="parent">
	<div class="singlepost">

		{% if post %}
		<div class="a">
			<h6 class="desc">posted on {{ post.date }} by {{ post.user.username }}</h6>
			<h2 class="title">{{ post.title }}</h2>
			<p class="desc">{{ post.description }} </p>
		</div>
		{% else %}
		<div class="a">
			<h3 class="desc">No posts </h3>
		</div>
		{% endif %}

</div>
</div>


{% endblock %}
