
/* A css style sheet for index.html and post_detail.html */
.parent{

	color: black;
  font-size: 30px;
	position: absolute;
	top: 100px;
	width: 40%;
	left:32%;

}

.a{
	position: relative;
	top: 20px;
	border-radius: 10px;
	color: black;
	background-color: #ffffff;
}


.title{
	color: black;
	font-weight: 800;
}

.desc{
	color: black;
}
